* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Spline Sans";
    position: relative;
    z-index: auto;
}

.logo-container {
    width: 65px;
    height: 45px;
    top: 8px;
    left: 0px;

}

.nav-button {
    width: 130px;
    height: 40px;
    margin-bottom: 10px;
    left: 25px;
    border-radius: 12px;
    background-color: #ED3545;
    color: #fff;
    border: none;
}

.navbar-title {
    float: right;
    color: #ED3545;
    line-height: 50px;
    margin-left: 20px;
}

.main-bg {
    background-image: url(../image/home_background.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover, contain;
    height: 830px;
    top: -200px;
    left: -231px;
}

.home-main {
    width: 704px;
    height: 317px;
    top: 297px;
    margin-left: 100px;
    text-align: center;


}

.main-logo {

    width: 319px;
    height: 250.37px;
    left: 192px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 0px auto;
    height: auto;
    position: relative;
    border-style: groove;
    border-radius: 15px 15px !important;

}

.rating-box {
    position: absolute;
    margin-top: 10px;
    color: #ED3545;
    background-color: #FFF6F7;
    border-radius: 0px 15px 15px 0px;
}

.restaurant-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;

}

.reviews {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #7E7E7E;

}

.restaurant-type {

    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.restaurant-location {

    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.open-or-close-time {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

/* .caret{border-top:4px solid red;} */

.reserve-title {

    background-color: #FFF6F7;
    border-radius: 12px 12px 12px 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;

}

.red {
    color: #ED3545;
}

.green {
    color: #2B9407;
}

.deactive {
    color: #b19898;
}

.info-container {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.owner-info {
    display: flex;
    float: left;
    justify-content: start;
}

.restaurant-address {
    display: flex;
    justify-content: end;
}

.rest-table-container {
    width: 100%;
    height: 100%;
}

.manage-table-container {
    background-color: #fff;
    height: 565px;
    left: 10px;
}

.manage-rest-container {
    height: 565px;
    line-height: 565px;
    left: 15px;
    background-color: #FFF6F7;
    display: flex;
    flex-direction: column;
}

.table-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.add-table{
    height: 50px;
    line-height:50px;
    color: #ED3545;
    margin-bottom: 100px; 

}

.reservation-list {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    display: flex;
    float: left;
    justify-content: start;

}

.reservation-table {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    color: #7E7E7E;
    display: flex;
    justify-content: end;

}

