table.table-bordered{
    border:1px solid #FFF6F7;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #FFF6F7;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #FFF6F7;
}