.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .registration-page label {
    margin-bottom: 10px;
  }
  
  .registration-page input,.registration-page select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-page button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-page button[type="button"] {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-page button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .registration-page button[type="button"]:hover {
    background-color: #bbb;
  }