
.restaurant-image {
    width: 100%;
    height: 256px;

    border-radius: 12px;
    opacity: 1px;
    position: relative;
}

.rest-name {
    font-family: Spline Sans;
    font-size: 25px;
    font-weight: 600;
    
    text-align: left;
    float: left;
    margin-left: 10px;
}

.rest-name-container {
    width: 40.8%;
    height: 90px;
    top: 267px;
    border-radius: 0px 0px 12px 12px;
    border: 1px 0px 0px 0px;
    
    background-color: rgb(212, 212, 212, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
}


.rest-info-heading {
    font-family: Spline Sans;
    font-size: 22px;
    line-height: 23.7px;
}

.rest-loc {
    color: #7E7E7E;
}

.avaliable-times {
    margin-top: 20px;
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;

}

.reserve-notification {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ED3545;
    font-family: Spline Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;

}

.review-title {
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;
    color: #303030;
    margin-top: 5px;
}

.rating-name {
    font-family: Spline Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;

}

.ratings {
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;

}

.avatar {
    width: 50px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    background-color: #F0B5BA;
    border-radius: 50%;
    text-align: center;
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    float: left;

}

.review-writer{
    font-family: Spline Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: left;

}

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px; color: #303030;}