version: '2.2'

services:

  frontend:
    image: mizdooni-react-app
    container_name: mizdooni-ts-app-container
    build: .
    command: npm run start
    ports:
      - "4000:3000"
    volumes:
      - ./api:/app

  backend:
    build:
      context: ./mizdooni-backend
    environment:
      - ELASTIC_APM_SERVICE_NAME=Mizdooni
      - ELASTIC_APM_APPLICATION_PACKAGES=ir.ut.ie
      - ELASTIC_APM_SERVER_URL=http://apm-server:8200
      - SPRING_SECURITY_CROS_ORIGINS=https://localhost, http://localhost:3001
      - SPRING_JPA_HIBERNATE_DDL-AUTO=update
      - SPRING_DATASOURCE_USERNAME=mizdooni_db_user
      - SPRING_DATASOURCE_PASSWORD=Mizd00N!!
      - SPRING_DATASOURCE_DRIVER-CLASS-NAME=com.mysql.cj.jdbc.Driver
      - SPRING_DATASOURCE_URL=jdbc:mysql://database:3306/mizdooni_db
    ports:
      - "443:443"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - mizdooni-network

  database:
    image: mysql:8.4.0
    environment:
      MYSQL_DATABASE: "mizdooni_db"
      MYSQL_USER: "mizdooni_db_user"
      MYSQL_PASSWORD: "Mizd00N!!"
      MYSQL_ROOT_PASSWORD: "Mizd00N!!@@db@@root@@password"
    ports:
      - "3307:3306"
    networks:
      - mizdooni-network
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "database"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s


volumes:
  mysql-data:
  esdata:
    driver: local

networks:
  mizdooni-network:
    driver: bridge
